/* Add you CSS here */
body{
    background-color:rgb(90, 117, 108);
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}

#Header{
    font-family:'Courier New', Courier, monospace;
    font-size: 2.5em;
    border-style: none;
    border-left-width: 2px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.topnav{
    font-size: 2em;
    text-align: center;
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-width: 3px;
    border-left-width: 2px;
    margin: 10px;
    padding: 10px;
    font-weight: 100;
    line-height: 1.8;
    a:link {
        text-decoration: none;
        color: rgb(33, 54, 54);
        text-align: center;
        background-color: rgb(131, 155, 147);
        padding: 5px;
        border-radius: 10px;
        border-spacing: 10px;
    }
    a:visited {
        color: rgb(43, 49, 48);
    }
    a:hover {
        background-color: rgb(207, 224, 218);
    }
    a.active {
         background-color: rgb(207, 224, 218);
    }
    
}

.demoreel{
    text-align: center;  
    h1{
        font-size: 2em;
        background-color: rgb(131, 155, 147);
        border: solid 5px rgb(131, 155, 147);
        border-radius: 10px;
        margin-left: 500px;
        margin-right: 500px;
    }
    iframe{
        width:896px;
        height: 504px;
        max-width: 1280px;
    }
}

footer{
    background-color: rgb(33, 54, 54);
    text-align: center;
    text-justify: end;
    width: 99%;
    color: rgb(207, 224, 218);
    background-blend-mode: overlay;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
 
footer p {
  margin: 0;
}

.designs{
    max-width: 1700px;
    min-height: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-self: center;
    align-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    img{
        height: 300px;
        width: auto;
    }
}

.personal{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    display: flex;
    align-self: center;
    align-content: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    img{
        height: 400px;
        width: auto;
    }
}

.reels{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    iframe{
        width: 704px;
        height: 396px;
        align-content: space-evenly;
    }
    video{
        width: 704px;
        height: 396px;
        align-content: space-evenly;
    }
    img{
      align-self: center;
      margin-left: auto;
      margin-right: auto;
    }
    #highlight{
        font-weight: 200;
    }
    
    .animationtext {
        text-align: center;
        background-color: rgb(131, 155, 147);
        border: solid 5px rgb(131, 155, 147);
        border-radius: 10px;
        margin: 20px;
    }
}

.me {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 2px rgb(131, 155, 147);
    border-radius: 15px;
    background-color: rgb(131, 155, 147);
    h1{
        font-size: 2em;
        text-align: center;
        border: none;
        width: 100%;
        font-style: italic;
        
    }
    p{
        font-size: 1em;
        border: none;
        text-align: center;
        margin: 20px;
    }
    .contact{
        text-align: center;
        border-top: dashed rgb(76, 89, 89);
        h2{
            border: none;
            width: 100%;
        }
        p{
            border: none;
            width: 100%;
            justify-content: center;
            text-align: center;
            display: inline;
            line-height: 1.5;
        }
    }
    .skills{
        border-top: dashed rgb(76, 89, 89);
        H3{
          margin-left: 200px;
          margin-right: 200px;
        }
        ul{
          display: flex;
          flex-wrap: wrap;
          margin-left: 200px;
          margin-right: 200px;
        }

        li{
            line-height: 2.0;
            border: rgb(207, 224, 218);
            background-color: rgb(207, 224, 218);
            border-radius: 2px;
            margin: 10px;
            padding: 10px;

        }
    }
}